__pycache__/
.DS_Store
**/.DS_Store
.env
*.zip
__MACOSX/
**/__MACOSX/
*.egg-info/
.venv/
run_exp.sh
eval_exp.sh
cache/
results/
eval_res/
debug.sh
eval_1000.sh
human150.sh
results.md
your_tpc_scores.json
uv.lock
.venv
agent_env/runs
agent_env/config.toml
rank_cache/
.claude/
LISTEN_v1/
LISTEN_v2/
LISTEN_v2 2/
